<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="com.ragentek.penmanager">

    <uses-permission android:name="android.permission.BLUETOOTH"/>

    <application>

        <service
            android:name="com.ragentek.penmanager.PenManagerService"
            android:enabled="true"/>
    </application>

</manifest>
